@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

body {
  background-color: #f8f8f8;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

/* Heading */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.fa-shopify {
  font-size: 50px;
}

/* Forms and Input*/
form {
  padding-left: 10px;
}

.filter-input {
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
}

.item-input {
  border-radius: 4px;
  border: 1px solid grey;
}

.filter-input,
.item-input {
  width: 90%;
  margin-bottom: 15px;
  padding: 12px;
  font-size: 18px;
  outline: none;
}

.add-btn {
  padding: 12px 22px;
  margin-bottom: 30px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  background-color: #046252;
  border: none;
}

/* List items */
ul {
  list-style: none;
  padding: 10px;
  margin: 0 auto;
  overflow: auto;
}

li,
.clear-btn {
  border: 1px solid rgb(175, 174, 174);
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 12px;
}

li {
  color: #333339;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: 40%;
  float: left;
}

.delete-btn {
  float: right;
  border: none;
  background-color: transparent;
}

/* Clear Button */
.clear-btn {
  display: block;
  margin: 20px auto 0;
  width: 95%;
  background-color: transparent;
  color: rgb(54, 54, 54);
  padding: 12px;
  font-size: 15px;
  clear: both;
}

/* Filter text */
.filter-text {
  color: red;
  font-family: "Poppins", sans-serif;
}

/* Edit mode */
.edit-mode {
  color: #98989c;
}

@media (max-width: 500px) {
  li,
  .clear-btn {
    width: 90%;
  }
}
